
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>mi app angular</title>
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v.4.0.8/css/line.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com">
  <link rel="stylesheet" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nekro+One&display=swap">
</head>
<br>
  
<p class="mitexto" id="mitexto2">Esto es un parrafo</p>
<h1>Esto es un titulo</h1>
<h3>Esto es un encabezado</h3>
 <table border="1">
  <tr id="myhead">
    <th>Productos</th>
    <th>Precios</th>
    <th>Cantidad</th>
  </tr>
  <tr>
    <td>Mouse</td>
    <td>5 peso</td>
    <td>1</td>
  </tr>
  <tr>
    <td id="myneck">Blackberry</td>
    <td>$1 morbillón</td>
    <td>20</td>
  </tr>
  <tr>
    <td><button>Comprar</button> </td>
    <td><button>Procesar</button> </td>
    <td><button>Enviar</button> </td>
  </tr>
  <tr>
    <td><button>Salir</button> </td>
  </tr>
 </table>

 <br>

 <h3>Formulario HTML Profesional</h3>
 <img src="pic_trulli.jpg" alt="Italian Trulli">
 <p style="background-image: url('pic_trulli.jpg');"></p>

 <form>
  Usuario: <input type="text"><br>
  Contraseña: <input type="text"><br>
  <input type="submit" value="Enviar">
  <br><br><br>

  <input type="radio" value="HTML">
  <label for="html">HTML</label><br>
  <input type="radio" value="css">
  <label for="css">CSS</label><br>
  <input type="radio" value="JavaScript">
  <label for="JavaScript">JavaScript</label><br>

<div class="general"><h2>Hi</h2>Hello

  <div class="extra">
    :)
  </div>
  <div class="subitem">
    AAAAAAAAAAAAAAAAAAAAAA
  </div>

</div>




</form>


</html>


<router-outlet />